<a href="https://colab.research.google.com/github/AkshayMinde/akshay_blogs/blob/master/data_science_intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [2]:
df.shape

(51, 6)

In [3]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [4]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [5]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [6]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [8]:
clean_df["Starting Median Salary"].max()

74300.0

In [11]:
clean_df["Starting Median Salary"].idxmax()

43

In [12]:
clean_df["Undergraduate Major"][43]

'Physician Assistant'

In [13]:
clean_df["Mid-Career Median Salary"].idxmax()

8

In [14]:
clean_df["Undergraduate Major"][8]

'Chemical Engineering'

In [15]:
clean_df["Mid-Career Median Salary"].max()

107000.0

In [16]:
clean_df["Starting Median Salary"].min()

34000.0

In [17]:
clean_df['Starting Median Salary'].idxmin()

49

In [18]:
clean_df["Undergraduate Major"][49]

'Spanish'

In [20]:
clean_df['Mid-Career Median Salary'].min()

52000.0

In [21]:
clean_df["Mid-Career Median Salary"].idxmin()

18

In [22]:
clean_df["Undergraduate Major"][18]

'Education'

In [23]:
print(clean_df["Mid-Career Median Salary"].max())
print(f"Index for max mid-career median salary:{clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df["Undergraduate Major"][8]

107000.0
Index for max mid-career median salary:8

'Chemical Engineering'

In [25]:
print(clean_df["Starting Median Salary"].min())
print(f"Index for min Starting Median Salary: {clean_df['Starting Median Salary'].idxmin()}")
clean_df["Undergraduate Major"][49]

34000.0
Index for min Starting Median Salary: 49

'Spanish'

In [27]:
print(clean_df["Mid-Career Median Salary"].min())
print(f"Index for min Mid-Career Median Salary: {clean_df['Mid-Career Median Salary'].idxmin()}")
clean_df["Undergraduate Major"][18]

52000.0
Index for min Mid-Career Median Salary: 18

'Education'

In [29]:
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]

In [31]:
clean_df.insert(1, "Spread", spread_col )
clean_df.head()

,Undergraduate Major,Spread,Sheet,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [39]:
low_risk = clean_df.sort_values("Spread")
low_risk[["Undergraduate Major", "Spread"]].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [11]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
highest_value = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_value[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [14]:
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
# clean_df.insert(1, "Spread", spread_col )
difference = clean_df.sort_values("Spread", ascending=False)
difference[["Undergraduate Major", "Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [15]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
highest_value = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_value[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [17]:
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
# clean_df.insert(1, "Spread", spread_col )
difference = clean_df.sort_values("Spread", ascending=False)
difference[["Undergraduate Major", "Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [20]:
groups = clean_df.groupby("Group").count()
print(groups)

          Undergraduate Major  Spread  Starting Median Salary  \
Group
Business                   12      12                      12
HASS                       22      22                      22
STEM                       16      16                      16

          Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
Group
Business                        12                                 12
HASS                            22                                 22
STEM                            16                                 16

          Mid-Career 90th Percentile Salary
Group
Business                                 12
HASS                                     22
STEM                                     16

In [21]:
mean = clean_df.groupby("Group").mean()
print(mean)

                 Spread  Starting Median Salary  Mid-Career Median Salary  \
Group
Business  103958.333333            44633.333333              75083.333333
HASS       95218.181818            37186.363636              62968.181818
STEM      101600.000000            53862.500000              90812.500000

          Mid-Career 10th Percentile Salary  Mid-Career 90th Percentile Salary
Group
Business                       43566.666667                      147525.000000
HASS                           34145.454545                      129363.636364
STEM                           56025.000000                      157625.000000

In [28]:
pd.options.display.float_format = "{:,.2f}".format
clean_df.groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

ValueError: ignored

ValueError: ignored